<table>
    <tr>
        <td>
            <p>Datum:</p>
        </td>
        <td>
            <p>{{Datum}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Autor:</p>
        </td>
        <td>
            <p>{{Autor}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Projekt:</p>
        </td>
        <td>
            <p>{{PROJET}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Teilpop.:</p>
        </td>
        <td>
            <p>{{popTpopNr}}</p>
        </td>
    </tr>
</table>
<!--p>
    <a href="#" onclick="window.apf.oeffneBeob('{{NO_NOTE}}')">Formular anstelle Karte öffnen</a>
</p-->
<p>
    <a href="#" onclick="window.apf.oeffneFormularAlsPopup('beob', '{{NO_NOTE}}', '{{statusZuordnung}}')">Formular öffnen</a>
</p>
<!--p>
    <a href="#" onclick="window.apf.oeffneTPopInNeuemTab({{NO_NOTE}})">Formular in neuem Fenster öffnen</a>
</p-->