<table>
    <tr>
        <td>
            <p>Typ:</p>
        </td>
        <td>
            <p>Beobachtung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Ort:</p>
        </td>
        <td>
            <p>{{DESC_LOCALITE}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Datum:</p>
        </td>
        <td>
            <p>{{Datum}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Autor:</p>
        </td>
        <td>
            <p>{{Autor}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Projekt:</p>
        </td>
        <td>
            <p>{{PROJET}}</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Teilpopulation:</p>
        </td>
        <td>
            <p>{{TPopId}}</p>
        </td>
    </tr>
</table>
<p>
    <a href="#" onclick="window.apf.oeffneTPop({{TPopId}})">Formular anstelle Karte öffnen</a>
</p>
<p>
    <a href="#" onclick="window.apf.oeffneFormularAlsPopup('tpop', {{TPopId}})">Formular neben der Karte öffnen</a>
</p>
<p>
    <a href="#" onclick="window.apf.oeffneTPopInNeuemTab({{TPopId}})">Formular in neuem Fenster öffnen</a>
</p>